body {
    background-color: #DEE3E2;
    font-family: sans-serif;
}

img {
    border-radius: 100%;
}

h1 {
    color: #211A4C;
}

h2 {
    color: #211A4C;
}

h3 {
    color: #211A4C;
}

hr {
    background-color: #DEE3E2;
    border-color: grey;
    border-style: dotted none none none;
    height: 0;
    width: 10%;
    border-width: 8px;
}

